.createPatient{
    background-color: #18B79C;
    border-color: white;
}

.fileButton {
    background-color: #18B79C;
    border-color: white;
}

li {
    background-color: white;
    transition: background-color .5s;
}

li:hover {
    background-color: #ecf0f1;
}

.card-header {
    text-align: left;
    border-bottom: none;
    color: white
}

.worklistwhole {
    height: 70vh;
    overflow-y: scroll;
}