.footer {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    text-align: center;
    background-color: #18B79C;
    color: white;
}

a {
    color: white;
    font-size: 18px;
}